<div class="doc-sidebar d-flex gap-4 align-items-start p-4">
	<div class="doc-sidebar__body flex-grow-1">
		<ul class="list gap-4">
			<li>
				<span class="d-flex align-items-center gap-2">
					<span class="d-grid text-primary fs-24">
						<iconify-icon icon="solar:layers-bold-duotone"></iconify-icon>
					</span>
					<span class="d-inline-block text-dark-emphasis fs-14 fw-medium">
						Components
					</span>
				</span>
				<ul class="list ps-3 gap-1 mt-2">
					<li>
						<a href="index.html"
							class="link d-flex fs-14 text-body hover:text-primary-emphasis hover:bg-primary-subtle py-1 px-4 rounded-1 {% if page == 'index' %}text-primary-emphasis bg-primary-subtle{% endif %}">
							Accordion
						</a>
					</li>
					<li>
						<a href="alert.html"
							class="link d-flex fs-14 text-body hover:text-primary-emphasis hover:bg-primary-subtle py-1 px-4 rounded-1 {% if page == 'alert' %}text-primary-emphasis bg-primary-subtle{% endif %}">
							Alert
						</a>
					</li>
					<li>
						<a href="avatar.html"
							class="link d-flex fs-14 text-body hover:text-primary-emphasis hover:bg-primary-subtle py-1 px-4 rounded-1 {% if page == 'avatar' %}text-primary-emphasis bg-primary-subtle{% endif %}">
							Avatar
						</a>
					</li>
					<li>
						<a href="badge.html"
							class="link d-flex fs-14 text-body hover:text-primary-emphasis hover:bg-primary-subtle py-1 px-4 rounded-1 {% if page == 'badge' %}text-primary-emphasis bg-primary-subtle{% endif %}">
							Badge
						</a>
					</li>
					<li>
						<a href="breadcrumb.html"
							class="link d-flex fs-14 text-body hover:text-primary-emphasis hover:bg-primary-subtle py-1 px-4 rounded-1 {% if page == 'breadcrumb' %}text-primary-emphasis bg-primary-subtle{% endif %}">
							Breadcrumb
						</a>
					</li>
					<li>
						<a href="button.html"
							class="link d-flex fs-14 text-body hover:text-primary-emphasis hover:bg-primary-subtle py-1 px-4 rounded-1 {% if page == 'button' %}text-primary-emphasis bg-primary-subtle{% endif %}">
							Button
						</a>
					</li>
					<li>
						<a href="card.html"
							class="link d-flex fs-14 text-body hover:text-primary-emphasis hover:bg-primary-subtle py-1 px-4 rounded-1 {% if page == 'card' %}text-primary-emphasis bg-primary-subtle{% endif %}">
							Card
						</a>
					</li>
					<li>
						<a href="dropdown.html"
							class="link d-flex fs-14 text-body hover:text-primary-emphasis hover:bg-primary-subtle py-1 px-4 rounded-1 {% if page == 'dropdown' %}text-primary-emphasis bg-primary-subtle{% endif %}">
							Dropdown
						</a>
					</li>
					<li>
						<a href="#"
							class="link d-flex fs-14 text-body hover:text-primary-emphasis hover:bg-primary-subtle py-1 px-4 rounded-1 {% if page == 'formCheck' %}text-primary-emphasis bg-primary-subtle{% endif %}">
							Form Check
						</a>
					</li>
					<li>
						<a href="form-control.html"
							class="link d-flex fs-14 text-body hover:text-primary-emphasis hover:bg-primary-subtle py-1 px-4 rounded-1 {% if page == 'formControl' %}text-primary-emphasis bg-primary-subtle{% endif %}">
							Form Control
						</a>
					</li>
					<li>
						<a href="form-select.html"
							class="link d-flex fs-14 text-body hover:text-primary-emphasis hover:bg-primary-subtle py-1 px-4 rounded-1 {% if page == 'formSelect' %}text-primary-emphasis bg-primary-subtle{% endif %}">
							Form Select
						</a>
					</li>
					<li>
						<a href="list.html"
							class="link d-flex fs-14 text-body hover:text-primary-emphasis hover:bg-primary-subtle py-1 px-4 rounded-1 {% if page == 'list' %}text-primary-emphasis bg-primary-subtle{% endif %}">
							List
						</a>
					</li>
					<li>
						<a href="#"
							class="link d-flex fs-14 text-body hover:text-primary-emphasis hover:bg-primary-subtle py-1 px-4 rounded-1 {% if page == 'modal' %}text-primary-emphasis bg-primary-subtle{% endif %}">
							Modal
						</a>
					</li>
					<li>
						<a href="#"
							class="link d-flex fs-14 text-body hover:text-primary-emphasis hover:bg-primary-subtle py-1 px-4 rounded-1 {% if page == 'pagination' %}text-primary-emphasis bg-primary-subtle{% endif %}">
							Pagination
						</a>
					</li>
					<li>
						<a href="product-card.html"
							class="link d-flex fs-14 text-body hover:text-primary-emphasis hover:bg-primary-subtle py-1 px-4 rounded-1 {% if page == 'productCard' %}text-primary-emphasis bg-primary-subtle{% endif %}">
							Product Card
						</a>
					</li>
					<li>
						<a href="#"
							class="link d-flex fs-14 text-body hover:text-primary-emphasis hover:bg-primary-subtle py-1 px-4 rounded-1 {% if page == 'progress' %}text-primary-emphasis bg-primary-subtle{% endif %}">
							Progress
						</a>
					</li>
					<li>
						<a href="subtitle.html"
							class="link d-flex fs-14 text-body hover:text-primary-emphasis hover:bg-primary-subtle py-1 px-4 rounded-1 {% if page == 'subtitle' %}text-primary-emphasis bg-primary-subtle{% endif %}">
							Subtitle
						</a>
					</li>
					<li>
						<a href="#"
							class="link d-flex fs-14 text-body hover:text-primary-emphasis hover:bg-primary-subtle py-1 px-4 rounded-1 {% if page == 'switcher' %}text-primary-emphasis bg-primary-subtle{% endif %}">
							Switcher
						</a>
					</li>
					<li>
						<a href="tab.html"
							class="link d-flex fs-14 text-body hover:text-primary-emphasis hover:bg-primary-subtle py-1 px-4 rounded-1 {% if page == 'tab' %}text-primary-emphasis bg-primary-subtle{% endif %}">
							Tab
						</a>
					</li>
					<li>
						<a href="#"
							class="link d-flex fs-14 text-body hover:text-primary-emphasis hover:bg-primary-subtle py-1 px-4 rounded-1 {% if page == 'table' %}text-primary-emphasis bg-primary-subtle{% endif %}">
							Table
						</a>
					</li>
					<li>
						<a href="#"
							class="link d-flex fs-14 text-body hover:text-primary-emphasis hover:bg-primary-subtle py-1 px-4 rounded-1 {% if page == 'textDecoration' %}text-primary-emphasis bg-primary-subtle{% endif %}">
							Text Decoration
						</a>
					</li>
					<li>
						<a href="#"
							class="link d-flex fs-14 text-body hover:text-primary-emphasis hover:bg-primary-subtle py-1 px-4 rounded-1 {% if page == 'tooltip' %}text-primary-emphasis bg-primary-subtle{% endif %}">
							Tooltip
						</a>
					</li>
				</ul>
			</li>
			<li>
				<span class="d-flex align-items-center gap-2">
					<span class="d-grid text-info fs-24">
						<iconify-icon icon="solar:palette-round-bold-duotone"></iconify-icon>
					</span>
					<span class="d-inline-block text-dark-emphasis fs-14 fw-medium">
						Sections
					</span>
				</span>
				<ul class="list ps-3 gap-1 mt-2">
					<li>
						<a href="#"
							class="link d-flex fs-14 text-body hover:text-primary-emphasis hover:bg-primary-subtle py-1 px-4 rounded-1 {% if page == 'application' %}text-primary-emphasis bg-primary-subtle{% endif %}">
							Application
						</a>
					</li>
					<li>
						<a href="#"
							class="link d-flex fs-14 text-body hover:text-primary-emphasis hover:bg-primary-subtle py-1 px-4 rounded-1 {% if page == 'about' %}text-primary-emphasis bg-primary-subtle{% endif %}">
							About
						</a>
					</li>
					<li>
						<a href="#"
							class="link d-flex fs-14 text-body hover:text-primary-emphasis hover:bg-primary-subtle py-1 px-4 rounded-1 {% if page == 'achievement' %}text-primary-emphasis bg-primary-subtle{% endif %}">
							Achievement
						</a>
					</li>
					<li>
						<a href="#"
							class="link d-flex fs-14 text-body hover:text-primary-emphasis hover:bg-primary-subtle py-1 px-4 rounded-1 {% if page == 'avatar' %}text-primary-emphasis bg-primary-subtle{% endif %}">
							Avatar
						</a>
					</li>
					<li>
						<a href="#"
							class="link d-flex fs-14 text-body hover:text-primary-emphasis hover:bg-primary-subtle py-1 px-4 rounded-1 {% if page == 'blog' %}text-primary-emphasis bg-primary-subtle{% endif %}">
							Blog
						</a>
					</li>
					<li>
						<a href="#"
							class="link d-flex fs-14 text-body hover:text-primary-emphasis hover:bg-primary-subtle py-1 px-4 rounded-1 {% if page == 'banner' %}text-primary-emphasis bg-primary-subtle{% endif %}">
							Banner
						</a>
					</li>
					<li>
						<a href="#"
							class="link d-flex fs-14 text-body hover:text-primary-emphasis hover:bg-primary-subtle py-1 px-4 rounded-1 {% if page == 'breadcrumb' %}text-primary-emphasis bg-primary-subtle{% endif %}">
							Breadcrumb
						</a>
					</li>
					<li>
						<a href="#"
							class="link d-flex fs-14 text-body hover:text-primary-emphasis hover:bg-primary-subtle py-1 px-4 rounded-1 {% if page == 'career' %}text-primary-emphasis bg-primary-subtle{% endif %}">
							Career
						</a>
					</li>
					<li>
						<a href="#"
							class="link d-flex fs-14 text-body hover:text-primary-emphasis hover:bg-primary-subtle py-1 px-4 rounded-1 {% if page == 'cta' %}text-primary-emphasis bg-primary-subtle{% endif %}">
							Call to Action
						</a>
					</li>
					<li>
						<a href="#"
							class="link d-flex fs-14 text-body hover:text-primary-emphasis hover:bg-primary-subtle py-1 px-4 rounded-1 {% if page == 'contact' %}text-primary-emphasis bg-primary-subtle{% endif %}">
							Contact
						</a>
					</li>
					<li>
						<a href="#"
							class="link d-flex fs-14 text-body hover:text-primary-emphasis hover:bg-primary-subtle py-1 px-4 rounded-1 {% if page == 'content' %}text-primary-emphasis bg-primary-subtle{% endif %}">
							Content
						</a>
					</li>
					<li>
						<a href="#"
							class="link d-flex fs-14 text-body hover:text-primary-emphasis hover:bg-primary-subtle py-1 px-4 rounded-1 {% if page == 'event' %}text-primary-emphasis bg-primary-subtle{% endif %}">
							Event
						</a>
					</li>
					<li>
						<a href="#"
							class="link d-flex fs-14 text-body hover:text-primary-emphasis hover:bg-primary-subtle py-1 px-4 rounded-1 {% if page == 'faq' %}text-primary-emphasis bg-primary-subtle{% endif %}">
							FAQ
						</a>
					</li>
					<li>
						<a href="#"
							class="link d-flex fs-14 text-body hover:text-primary-emphasis hover:bg-primary-subtle py-1 px-4 rounded-1 {% if page == 'features' %}text-primary-emphasis bg-primary-subtle{% endif %}">
							Features
						</a>
					</li>
					<li>
						<a href="#"
							class="link d-flex fs-14 text-body hover:text-primary-emphasis hover:bg-primary-subtle py-1 px-4 rounded-1 {% if page == 'footer' %}text-primary-emphasis bg-primary-subtle{% endif %}">
							Footer
						</a>
					</li>
					<li>
						<a href="#"
							class="link d-flex fs-14 text-body hover:text-primary-emphasis hover:bg-primary-subtle py-1 px-4 rounded-1 {% if page == 'forum' %}text-primary-emphasis bg-primary-subtle{% endif %}">
							Forum
						</a>
					</li>
					<li>
						<a href="#"
							class="link d-flex fs-14 text-body hover:text-primary-emphasis hover:bg-primary-subtle py-1 px-4 rounded-1 {% if page == 'hero' %}text-primary-emphasis bg-primary-subtle{% endif %}">
							Hero
						</a>
					</li>
					<li>
						<a href="#"
							class="link d-flex fs-14 text-body hover:text-primary-emphasis hover:bg-primary-subtle py-1 px-4 rounded-1 {% if page == 'howItWorks' %}text-primary-emphasis bg-primary-subtle{% endif %}">
							How it Works
						</a>
					</li>
					<li>
						<a href="#"
							class="link d-flex fs-14 text-body hover:text-primary-emphasis hover:bg-primary-subtle py-1 px-4 rounded-1 {% if page == 'instaPost' %}text-primary-emphasis bg-primary-subtle{% endif %}">
							Instagram Post
						</a>
					</li>
					<li>
						<a href="#"
							class="link d-flex fs-14 text-body hover:text-primary-emphasis hover:bg-primary-subtle py-1 px-4 rounded-1 {% if page == 'integration' %}text-primary-emphasis bg-primary-subtle{% endif %}">
							Integration
						</a>
					</li>
					<li>
						<a href="#"
							class="link d-flex fs-14 text-body hover:text-primary-emphasis hover:bg-primary-subtle py-1 px-4 rounded-1 {% if page == 'newsletter' %}text-primary-emphasis bg-primary-subtle{% endif %}">
							Newsletter
						</a>
					</li>
					<li>
						<a href="#"
							class="link d-flex fs-14 text-body hover:text-primary-emphasis hover:bg-primary-subtle py-1 px-4 rounded-1 {% if page == 'logoCloud' %}text-primary-emphasis bg-primary-subtle{% endif %}">
							Logo Cloud
						</a>
					</li>
					<li>
						<a href="#"
							class="link d-flex fs-14 text-body hover:text-primary-emphasis hover:bg-primary-subtle py-1 px-4 rounded-1 {% if page == 'order' %}text-primary-emphasis bg-primary-subtle{% endif %}">
							Order
						</a>
					</li>
					<li>
						<a href="#"
							class="link d-flex fs-14 text-body hover:text-primary-emphasis hover:bg-primary-subtle py-1 px-4 rounded-1 {% if page == 'cart' %}text-primary-emphasis bg-primary-subtle{% endif %}">
							Cart
						</a>
					</li>
					<li>
						<a href="#"
							class="link d-flex fs-14 text-body hover:text-primary-emphasis hover:bg-primary-subtle py-1 px-4 rounded-1 {% if page == 'pricing' %}text-primary-emphasis bg-primary-subtle{% endif %}">
							Pricing
						</a>
					</li>
					<li>
						<a href="#"
							class="link d-flex fs-14 text-body hover:text-primary-emphasis hover:bg-primary-subtle py-1 px-4 rounded-1 {% if page == 'pagination' %}text-primary-emphasis bg-primary-subtle{% endif %}">
							Pagination
						</a>
					</li>
					<li>
						<a href="#"
							class="link d-flex fs-14 text-body hover:text-primary-emphasis hover:bg-primary-subtle py-1 px-4 rounded-1 {% if page == 'product' %}text-primary-emphasis bg-primary-subtle{% endif %}">
							Product
						</a>
					</li>
					<li>
						<a href="#"
							class="link d-flex fs-14 text-body hover:text-primary-emphasis hover:bg-primary-subtle py-1 px-4 rounded-1 {% if page == 'portfolio' %}text-primary-emphasis bg-primary-subtle{% endif %}">
							Portfolio
						</a>
					</li>
					<li>
						<a href="#"
							class="link d-flex fs-14 text-body hover:text-primary-emphasis hover:bg-primary-subtle py-1 px-4 rounded-1 {% if page == 'review' %}text-primary-emphasis bg-primary-subtle{% endif %}">
							Review
						</a>
					</li>
					<li>
						<a href="#"
							class="link d-flex fs-14 text-body hover:text-primary-emphasis hover:bg-primary-subtle py-1 px-4 rounded-1 {% if page == 'richText' %}text-primary-emphasis bg-primary-subtle{% endif %}">
							Rich Text
						</a>
					</li>
					<li>
						<a href="#"
							class="link d-flex fs-14 text-body hover:text-primary-emphasis hover:bg-primary-subtle py-1 px-4 rounded-1 {% if page == 'sign' %}text-primary-emphasis bg-primary-subtle{% endif %}">
							Sign IN - UP
						</a>
					</li>
					<li>
						<a href="#"
							class="link d-flex fs-14 text-body hover:text-primary-emphasis hover:bg-primary-subtle py-1 px-4 rounded-1 {% if page == 'stats' %}text-primary-emphasis bg-primary-subtle{% endif %}">
							Statistics
						</a>
					</li>
					<li>
						<a href="#"
							class="link d-flex fs-14 text-body hover:text-primary-emphasis hover:bg-primary-subtle py-1 px-4 rounded-1 {% if page == 'team' %}text-primary-emphasis bg-primary-subtle{% endif %}">
							Team
						</a>
					</li>
					<li>
						<a href="#"
							class="link d-flex fs-14 text-body hover:text-primary-emphasis hover:bg-primary-subtle py-1 px-4 rounded-1 {% if page == 'testimonial' %}text-primary-emphasis bg-primary-subtle{% endif %}">
							Testimonial
						</a>
					</li>
					<li>
						<a href="#"
							class="link d-flex fs-14 text-body hover:text-primary-emphasis hover:bg-primary-subtle py-1 px-4 rounded-1 {% if page == 'tables' %}text-primary-emphasis bg-primary-subtle{% endif %}">
							Tables
						</a>
					</li>
					<li>
						<a href="#"
							class="link d-flex fs-14 text-body hover:text-primary-emphasis hover:bg-primary-subtle py-1 px-4 rounded-1 {% if page == 'video' %}text-primary-emphasis bg-primary-subtle{% endif %}">
							Video
						</a>
					</li>
					<li>
						<a href="#"
							class="link d-flex fs-14 text-body hover:text-primary-emphasis hover:bg-primary-subtle py-1 px-4 rounded-1 {% if page == 'error' %}text-primary-emphasis bg-primary-subtle{% endif %}">
							404
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	<button class="btn btn-icon btn-dark flex-shrink-0 d-lg-none doc-nav-toggler">
		<iconify-icon icon="carbon:close-large"></iconify-icon>
	</button>
</div>